// Estilos predefinidos
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// Estilos del login
.header-login,
.form-container {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.toolbar-above {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.toolbar-above .title-above {
    font-size: 1.8em;
    font-weight: 800;
}

.toolbar-above .subtitle-above {
    font-size: 0.9em;
    font-weight: 500;
}

.form-container .form-title {
    font-size: 1.7em;
    font-weight: 800;
}

.form-container .form-input {
    font-size: 0.9em;
    font-weight: 600;
    width: 100%;
}

.form-container ion-item {
    --padding-start: 0;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-buttons .form-ingreso {
    width: 100%;
    color: black;
    font-weight: 700;
    border: 0.2em solid black;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em 0.1em black;
    --background: white;
}

.form-buttons .form-registro {
    color: blue;
    text-decoration: underline;
    --ripple-color: transparent;
}