<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-above">
    <ion-title class="title-above">
      SkeletonAPP
    </ion-title>
    <ion-text class="subtitle-above"><span>Aqui empieza todo</span></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido!</ion-card-title>
      </ion-card-header>
      <ion-card-content>  
        <ion-list>
          <ion-item>
            <ion-input label="Usuario" labelPlacement="floating" placeholder="Ingrese usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" type="password" labelPlacement="floating" placeholder="Ingrese su contraseña"></ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle justify="end">Recuerdame</ion-toggle><br /><br />
          </ion-item>
          
          <ion-button>Ingresar</ion-button>
          <br>
          <ion-button>Registrar</ion-button>
        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
